.diploma_container {
  width: 1169px;
  height: 827px;
  background-color: white;
  margin: 0 auto;
  color: #1C65D1;
}

.diploma_impressao {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.diploma_headers h1,
.diploma_headers h2 {
  font-size: 24px;
  text-align: center;
  margin-right: 150px;
}

.diploma_headers h1 {
  margin-top: 80px;
  margin-bottom: -30px;
}

.diploma_headers p {
  font-size: 16px;
}

.diploma_headers h3 {
  font-size: 28px;
}

.logo_anjo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.log_anjo_text {
  position: relative;
  margin: 0 auto;
}

.logo_anjo img {
  width: 300px;
  position: absolute;
  top: 320px;
  right: 160px;
}

.logo_anjo .bandeira {
  width: 150px;
  height: auto;
  position: absolute;
  top: 350px;
  left: 250px;
}

.anjo2 {
  position: absolute;
  top: 100px;
  left:-230px;
  opacity: 0.2;
}

.logo_anjo_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo_anjo_text h1, 
.logo_anjo_text h2 {
  padding-left: 130px;
}

.diploma_content p {
  font-size: 16px;
}

.assinaturas {
  display: flex;
  flex-direction: column;
}

.assinaturas p {
  font-size: 16px;
}

.diploma_assinatura_top {
  margin-top: -20px;
  margin-bottom: 20px;
}

.assinaturas_bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.assinaturas_line {
  width: 220px;
  border-bottom: 1px solid #1C65D1;
}

.diploma_borda {
  border: 50px solid transparent;
  border-image: url("../../assets/fundoazul.png") 150;
  padding: 40px;
}

