<div class="auth-container">
  <h2>Cadastre-se</h2>
  <form action="/alunos/register" method="POST">
    <div class="form-control">
      <label for="nome">Nome: </label>
      <input type="text" name="nome" placeholder="Digite seu nome"  />
    </div>
    <div class="form-control">
      <label for="email">Email: </label>
      <input type="email" name="email" placeholder="Digite seu email"  />
    </div>
   
    <input type="submit" value="Cadastrar" />
  </form>
  <p>Já tem conta? <a href="/login">Clique aqui!</a></p>
</div>