/* Aplica grid nas linhas da tabela */
.tabela-form-lista-aluno {
  width: 100%;
  border-collapse: collapse; /* importante para unir as bordas */
}
.tabela-form-lista-aluno tbody tr,
.tabela-form-lista-aluno thead tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr; /* Nome | Email | CPF | Ações */
  align-items: center;
  text-align: left;
}

.tabela-form-lista-aluno thead tr {
  background-color: #d1e1fa;
}

.tabela-form-lista-aluno tbody tr:nth-child(even) {
  background-color: #dee8f8; /* Cor clara para linhas pares */
}

.tabela-form-lista-aluno tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Cor padrão para linhas ímpares */
}

/* Ajuste nos cabeçalhos */
.tabela-form-lista-aluno thead th {
  padding: 4px;
  border-right: 2px solid #d8d8d8; /* linha entre colunas */
  font-weight: bold;
}
.tabela-form-lista-aluno tbody td {
  border-right: 2px solid #d8d8d8; /* linha entre colunas */
}

.tabela-form-lista-aluno th:last-child,
.tabela-form-lista-aluno td:last-child {
  border-right: none;
}

/* Ajuste nas células */
.tabela-form-lista-aluno td {
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Ações alinhadas e organizadas */
.for-list-acoes-aluno {
  display: flex;
  flex-direction: row; /* <-- de coluna para linha */
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

/* Ícones bem espaçados */
.for-list-acoes-aluno-icons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.for-list-acoes-aluno-icons a,
.for-list-acoes-aluno-buttons a {
  display: flex;
  align-items: center;
}

/* Botões distribuídos lado a lado */
.for-list-acoes-aluno-buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.for-list-acoes-aluno-buttons button {
  padding: 6px 10px;
  font-size: 0.64rem;
  white-space: nowrap;
}
