/* Base styles */
.sectionOne-content {
  background-color: #1E56B8;
  max-height: 100vh;
  align-items: center;
}

.sectionOne-container {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  gap: 50px;
}

.sectionOne-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionOne-h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 50px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.9px;
}

.sectionOne-p {
  font-size: 20px;
  line-height: 1.6;
  color: #E5E5E5;
  margin-bottom: 32px;
  text-align: justify;
}

.sectionOne-cta {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 10px;
}

.sectionOne-btn {
  background-color: #FBD064;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #1E56B8;
}

.sectionOne-btn:hover {
  background-color: #f8c43c;
  transform: translateY(-2px);
}

.rating-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.stars {
  color: #FBD064;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rating-box span {
  color: #ffffff;
  font-size: 14px;
}

.features {
  display: flex;
  gap: 24px;
}

.feature-item {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.check-icon {
  color: #FBD064;
}

.sectionOne-right img {
  width: 400px;
  max-width: 500px;
  height: 470px;
  object-fit: cover;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  margin-top: 60px;
}

/* Responsividade para MacBook 13" (1280x800) */
@media screen and (max-width: 1024px) {

  .sectionOne-container {
    padding: 70px 10px;
  }

  .sectionOne-left {
    width: 900px;
    justify-content: space-between;
    margin-top: 15px;
  }


  .sectionOne-h1 {
    font-size: 33px;
  }

  .sectionOne-p {
    font-size: 18px;
    text-align: center;
  }

  .sectionOne-right img {
    max-width: 680px;
    height: auto;
  }
}

/* iPad 10 (820x1180) */
@media screen and (max-width: 820px) {

  .sectionOne-h1 {
    font-size: 23px;
    line-height: 1.3;
  }

  .sectionOne-p {
    font-size: 14px;
  }

  .sectionOne-btn {
    padding: 12px 28px;
  }

  .sectionOne-cta {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 0px;
  }

  .stars {
    text-align: center;
  }

  .features {
    justify-content: center;
  }

  .sectionOne-right img {
    max-width: 880px;
    height: auto;
  }
}

/* iPhone 15 Pro Max (430x932) */
@media screen and (max-width: 430px) {
  .sectionOne-content {
    padding-bottom: 680px;
  }


  .sectionOne-container {
    flex-wrap: wrap;
  }

  .sectionOne-h1 {
    font-size: 38px;
  }

  .sectionOne-p {
    font-size: 16px;
  }

  .features {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
  }
.sectionOne-right img {
  margin-top: 0px;
}
}

/* iPhone (375x667) */
@media screen and (max-width: 375px) {
  .sectionOne-h1 {
    font-size: 32px;
  }

  .sectionOne-btn {
    width: 100%;
    padding: 14px 24px;
  }
}