/* Estilos do Header */
.header {
  max-width: 1248px;
  background-color: #1c64d1bb;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: backdrop-filter 0.3s ease, padding 0.3s ease;
}

.header__container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

/* Classe para aplicar o efeito de blur */
.header.blur {
  backdrop-filter: blur(10px);
  padding: 10px 100px; /* Ajuste o padding conforme necessário */
}

/* Outros estilos */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img img {
  width: 45px;
  height: 45px;
}

.logo-text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  font-weight: bold;
}

.logo span {
  font-weight: 500;
  font-size: 16px;
  color: #fbd064;
  line-height: 1.2;
  letter-spacing: 1px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: #3875D6;
  padding: 14px 30px;
  border-radius: 12px;
  margin-right: 20px;
}

.links li {
  text-decoration: none;
  list-style: none;
  color: #C6D6F3;
}

.links .nav-link {
  color: #C6D6F3;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.links a:hover {
  color: #fbd064;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

.user-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C6D6F3;
  font-size: 16px;
}

.user-text span {
  color: #fbd064;
}
